@font-face {font-family: 'iconfont';
  src: url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-avatar:before {
  content: "\e642";
}

.icon-smileface:before {
  content: "\e681";
}

.icon-microphone:before {
  content: "\e607";
}

.icon-juejin:before {
  content: "\e600";
}

.icon-adduser:before {
  content: "\e7ae";
}

.icon-image:before {
  content: "\e7de";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-star:before {
  content: "\e7e0";
}

.icon-share:before {
  content: "\e7e7";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-gift:before {
  content: "\e842";
}

.icon-heart-fill:before {
  content: "\e849";
}

.icon-lock-fill:before {
  content: "\e86b";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-twitter-fill:before {
  content: "\e88a";
}

.icon-weibo-fill:before {
  content: "\e88b";
}

.icon-login:before {
  content: "\e8ef";
}

.icon-juejin1:before {
  content: "\e610";
}

