html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    meta(name="description" content="Calabash's Blog")
    meta(name="author" content=author)
    title #{author}'s Blog
  body
    h1 #{author}'s Blog
    ul
      each article in articleList
        li
          a(href="/"+ author +"/articles/" + article.blogDate)= article.blogTitle