html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    meta(name="description" content="前端技术博客")
    meta(name="author" content=author)
    meta(property="og:type" content="website")
    meta(property="og:title" content="Calabash's Blog")
    meta(property="og:description" content="前端技术博客")
    meta(property="og:image" content="https://blog.calabash.top/calabash512.png")
    meta(property="og:url" content="http://blog.calabash.top/")
    title= title
  body
    h1= title
    article !{content}